<!-- populacao_form_modal.html -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ instance|default:"Nova População" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'populacao_create_or_update_url' aquario_pk %}">
        <div class="modal-body">
          {% csrf_token %}
          {{ form.as_p }}
          {% if instance %}
            <input type="hidden" name="instance_pk" value="{{ instance.pk }}">
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
